@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}


/*Slimscroll css*/
.slim-scrollbar {
    max-height:800px; /* vertical limit */
    overflow: auto; /* both vertical & horizontal scrolling */
    width: 100%; /* prevent table from escaping */
    display: block; /* ensures container contains table */
}
    .slim-scrollbar table {
        width: 100%; /* prevents horizontal overflow of body */
        table-layout: fixed; /* optional: prevents table from stretching too wide */
    }


