@model WorkMate.ViewModels.TestAutomatorViewModel
@{
    ViewBag.Title = "TestAutomator";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h5>Test Input Builder</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label class="form-label">@Html.DisplayNameFor(m => m.FieldType)</label>
                        @Html.EnumDropDownListFor(m => m.FieldType, new { @class = "form-select select2" })
                        @Html.ValidationMessageFor(m => m.FieldType, "", new { @class = "text-danger small" })
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

